SpeedrunTimerUI
{
	position: absolute;
	width: 400px;
	height: 100px;
	// margin-left: 975px;
	// margin-right: 850px;
	background-color: #44444475;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 30px;

	.title
	{
		position: absolute;
		font-size: 45px;
		font-family: Poppins;
		color: #fff;
	}
}